@page "/Curriculo-Sophie"

<br>

<h1> <img src="rosa.jpg" alt="Rosa"> Sophie Vicentin <img src="rosa.jpg" alt="Rosa"></h1>

<b>Curriculo</b>

<hr> <span>- </span> Técnica em Inormática no curso Técnico em Informática Integrado ao Médio

<hr><span>- </span> Ensino Fundamental I, II concluído em Presidente Médici - Rondônia

<hr><span>-</span> Futuro: Faculdade de Odontologia

<hr>
<style>
    b {
        color: rgb(228, 86, 110);
    }

    hr {
        border: solid 2px rgb(255, 107, 107);
    }

    img {
        width: 50px;
    }

    h1 {
        text-align: center;
        font-family: cursive;
    }

    span {
        color: rgb(255, 32, 99);
        font-size: x-large;
    }

    b {
        font-size: larger;
        text-align: center;
    }
</style>